.wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: center,
}

.container {
    width: 100%;
    max-width: 1100px;
    padding: 0 20px
}

link {
    text-decoration: none;
    color: #3f4a5a
}

.card {
    background-color: white;
    border-radius: 16;
    border: 1px solid black;
    transition: all 0.3s ease;
    width: 100%;
}

.card:hover {
    transform: translateY(-4px);
}

.delete-div {
    display: flex;
    justify-content: flex-end;
}

.title {
    color: #2d006b;
    font-size: 20;
    margin-bottom: 6;
    margin-top: 0px;
    text-align: center;
}

.text {
    display: -webkit-box;
    /* -webkit-line-clamp: 3; */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 13;
    color: #5f5f5f;
    text-align: center;
    margin-top: 10;
}

.tag {
    color: #1a1a1a;
    font-weight: 500;
    border-radius: 8;
    padding: 2px 10px;
    margin: 3px;
    font-size: 12;
}