.wrapper {
    text-align: center;
    margin: 30px 0;
}

.modal{
    max-width: 550
}

.title {
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center
}

.form {
    padding: 20px 30px;
    border-radius: 16px;
}