.container {
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-wrapper {
    width: 100%;
    max-width: 500px;
    margin-top: 50px;
    background: white;
    border-left:1px #555 solid;
    border-right:1px #555 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habit-card {
    width: 100%;
    max-width: 420px;
    
    background: #ffffff;
    border-radius: 18px;
    border: 1px black solid;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.habit-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
}

/* כותרת */
.habit-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 10px;

}

/* תיאור */
.habit-description {
    font-size: 0.95rem;
    color: #555;
    margin-bottom: 16px;
}

/* תגיות */
.habit-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 16px;
}

.habit-tag {
    /* background: #eef2ff; */
    /* color: #4f46e5; */
    color: white;
    background-color: "#daeb28", ;
    font-size: 0.75rem;
    padding: 4px 10px;
    border-radius: 10px;
    /* border: 1px solid #d5dbff; */
}

/* שורת פרמטר */
.habit-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.parameters {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: white;
    border-radius: 10px;
    padding: 14px;
    border: 1px solid #e0e0e0;
    margin-top: 10,

}

/* קו מפריד */
.habit-divider {
    height: 1px;
    background: #eaeaea;
    margin: 14px 0;
}

/* רספונסיביות */
@media (max-width: 480px) {
    .habit-card {
        padding: 16px;
    }

    .habit-title {
        font-size: 1.35rem;
    }

    .habit-tag {
        font-size: 0.7rem;
        padding: 3px 8px;
    }
}